<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.json">
    <title>
        Testing <%= htmlWebpackPlugin.options.testName || 'test' %>
    </title>
</head>

<body>
    <script>
        global = globalThis //<- this should be enough
    </script>
    <h1>Testing "<%= htmlWebpackPlugin.options.testName || 'unknown' %>":</h1>
    <pre>
        <div id="<%= htmlWebpackPlugin.options.testName || 'test' %>"
            data-testid="<%= htmlWebpackPlugin.options.testName || 'test' %>">
        </div>
    </pre>
</body>

</html>