<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.json">
    <title>tlsn-js development</title>
</head>

<body>
    <script>
        global = globalThis //<- this should be enough
    </script>
    <div>Testing "full-integration-swapi":
        <div id="full-integration-swapi"></div>
    </div>
    <div>Testing "simple-verify":
        <div id="simple-verify"></div>
    </div>
</body>

</html>