<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TLSNotary React TypeScript Demo</title>
</head>

<body>
    <script>
    </script>
    <div id="root"></div>
</body>

</html>