<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.json">
    <title>tlsn-js development</title>
</head>
<body>
<script>
    global = globalThis //<- this should be enough
</script>
<div id="root"></div>
</body>
</html>